<div class="result-container">

    <div class="progres">

    </div>

    {{!--<div class="result-searching-menu">
        <form class="form-inline">
            <label class="sr-only" for="inlineFormInputGroup">Search</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
            </div>

            <label class="mr-sm-2" for="inlineFormCustomSelect">Sort by</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">Total amount</option>
                <option value="2">Interest</option>
                <option value="3">Three</option>
            </select>
        </form>
    </div>--}}

    <div class="container-fluid banks-list-container">
        <div class="row">
            {{#each this}}
            <div class="col-lg-3 col-md-4 col-sm-6 bank-container">
                <div class="animated zoomIn">
                    <div class="bank-img-container">
                        <img src="{{img}}" alt="Bank logo" class="img-fluid bank-img">
                    </div>
                    <div class="total-amount"><span>Total Amount: $ {{totalAmount}}</span></div>
                    <ul class="service-info">
                        <li>Bank: {{@key}}</li>
                        <li>Interes: {{credits.consumer.bgn}} </li>
                        <li>Monthly amount: {{monthlyAmount}}</li>
                        <li><a href="#/home/{{@key}}" class="btn btn-credit">get it</a></li>
                    </ul>
                    
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>