<div class="progres">

</div>

<div class="wrapper">

    <div class="user-profile-page">
        <div class="profile-title-container">
            <p class="profile-title">{{this.name}} {{this.lastName}}</p>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">E-mail: </div>
                    <input type="email" class="form-control user-info" name="" value="{{this.email}}" id="user-email">
                </div>
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">Password: </div>
                    <input type="password" class="form-control user-info" name="" value="123456" id="user-password">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">Name: </div>
                    <input type="text" class="form-control user-info" name="" value="{{this.name}}" id="user-name">
                </div>
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">Last name: </div>
                    <input type="text" class="form-control user-info" name="" value="{{this.lastName}}" id="user-last-name">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">UCN: </div>
                    <input type="number" class="form-control user-info" name="" value="{{this.ucn}}" id="user-ucn">
                </div>
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">Phone: </div>
                    <input type="number" class="form-control user-info" name="" value="{{this.phone}}" id="user-phone">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">City: </div>
                    <input type="text" class="form-control user-info" name="" value="{{this.city}}" id="user-city">
                </div>
                <div class="col-lg-6 col-md-6 input-group">
                    <div class="input-group-addon profile-label">Address: </div>
                    <input type="text" class="form-control user-info" name="" value="{{this.address}}" id="user-address">
                </div>
            </div>

            <div class="row">
                <div class="col btn-profile-container">
                    <button type="button" class="btn btn-profile" id="btn-profile-change">Change</button>
                    <button type="button" class="btn btn-profile" id="btn-submit-profile-change">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>